@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
/* choiceLang */
.downImg{
    width: 10px;
    height: 10px;
    z-index: 1;
}
.engImg{
    padding-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}
.choiceLang{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #581194;
    border-radius: 50px;
    cursor: pointer;
}
.headerIn{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
/* btn */
.btn{
    margin-right: 10px;
    padding: 13px 36px;
    background:#B0E31C ;
    font-weight: bold;
    border-radius: 55px;
    border: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    cursor: pointer;
    position: relative;
}
@keyframes btn {
    0%{background:linear-gradient(90deg, black , #B0E31C 0%)}
    5%{background:linear-gradient(90deg, black , #B0E31C 5%)}
    10%{background:linear-gradient(90deg, black , #B0E31C 10%)}
    15%{background:linear-gradient(90deg, black , #B0E31C 15%)}
    20%{background:linear-gradient(90deg, black , #B0E31C 20%)}
    25%{background:linear-gradient(90deg, black , #B0E31C 25%)}
    30%{background:linear-gradient(90deg, black , #B0E31C 30%)}
    35%{background:linear-gradient(90deg, black , #B0E31C 35%)}
    40%{background:linear-gradient(90deg, black , #B0E31C 40%)}
    45%{background:linear-gradient(90deg, black , #B0E31C 45%)}
    50%{background:linear-gradient(90deg, black , #B0E31C 50%)}
    55%{background:linear-gradient(90deg, black , #B0E31C 55%)}
    60%{background:linear-gradient(90deg, black , #B0E31C 60%)}
    65%{background:linear-gradient(90deg, black , #B0E31C 65%)}
    70%{background:linear-gradient(90deg, black , #B0E31C 70%)}
    75%{background:linear-gradient(90deg, black , #B0E31C 75%)}
    80%{background:linear-gradient(90deg, black , #B0E31C 80%)}
    85%{background:linear-gradient(90deg, black , #B0E31C 85%)}
    90%{background:linear-gradient(90deg, black , #B0E31C 90%)}
    95%{background:linear-gradient(90deg, black , #B0E31C 95%)}
    100%{background:linear-gradient(90deg, black , #B0E31C 100%);color: white;}
}
.btn:hover{ 
    animation: btn 0.5s forwards;
}