@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');
.NavBar{
    grid-area: n;
    background-color: #492A78;
      
}
.navContainer{
    display: flex;
    align-items: center;  
}
.nav{
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}
.nav:hover{
    color:#B0E31C;
    text-shadow: 0px 0px 5px white;
}
.active{
    color:#B0E31C;
}
.nav img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}