.avatar{
width: 10px;
height: 10px;
border-radius: 50%;
background-color: blueviolet;
margin-right: 10px;
}
.active {
    background-color: green;
}
.frend{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.allFriend{
    padding-right: 10px;
    padding-left: 20px;
    position: relative;
    border-right: 2px rgb(80, 78, 78) solid;
}
.navLink{
    text-decoration: none;
    color:white;
    transition: all 0.2s linear;
}
.activeLink{
color: gold ;
}